div{
    width: 80%;
    height: 900px;
    /* background-color: darkred;  Colocando cores de Fundos*/
    margin: auto; /*Centralizar DIV*/

    /* Colocando uma imagem de fundo */
    background-image: url(../Images/Bender.jpg);

    /* Lembrar que estamos estilizando um arquivo CSS, ele esta dentro da pasta de css. A ideia da imagem de fundo e ser um grande papel de parede da tela, caso a imagem seja menor que a tela ela vai se repetir. 
    */
    
    /* Para não repetir a imagem */
    background-repeat: no-repeat;

    /* Cuidar do tamanho da imagem para que ela cubra toda a área da imagem */
    background-size: cover;

    /* Posicionar imagem dentro do elemento */
    background-position: center center;
    /* Esquerda e Diretia */

    /* Fazer a imagem Scrollar junto com a tela */
    background-attachment: fixed;
    /* Tela faz a roalgem mas a tela fica Fixa */

}

p{
    background-color: brown;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}