div{
    width: 300px;
    height: 250px;
    background-color: gray;

    /* Propriedades Box Model */

                            /* Espaçar os elementos externos */
    margin: 20px; 
    /* 
    min-margin: 20px; Minimo
    max-margin: 250; Maximo
    */


                                      /* Borda Contorno */
    
    /* Largura da Borda */
    border-width: 10px;

    /* Estilo da borda */
    border-style: solid;
    /* Estilos de borda: 
        Dootted = Pontilhada
        Dashed = Piscada
        Double = Moldura de um quadro
        inset = Vai pegar as bordas e deixar escrura 
        outset = Vai pegar a bordar e deixar escuro
        Groove = Faz uma borda 3D
        ridge = Inversão das cores
    */

    /* Mudando a cor */
    border-color: rgb(233, 71, 71);

    /* ShortHAND para Bordar */
    border: 10px groove rgb(255, 59, 59);
    /* 
    1-Border-Width
    2-Border-Style
    3-Border-Color
    */


    /* Espaçar os elementos internos */

    /* Preenchimento (Espaçamento) */
    padding: 20px;


                        /* Aplicando o Box-size
                            Box-size = recalcula o tamanho do container
                        */
    box-sizing: border-box;
    /* Se usar o Padding ja utilizar o Box-sizing */
}